# Add you personal stripe token here
STRIPE_TOKEN="< ADD YOUR STRIPE TOKEN >"
STRIPE_ENDPOINT_SECRET="< ADD YOUR STRIPE ENDPOINT SECRET >"
REACT_APP_TOKEN="jwtsecrettutorial"
PAYMENT_PROCESSOR="Stripe"
DOMAIN_NAME="http://localhost:8082"
BACKEND_API="http://poc-entitlements-backend-1:8080"
PAYMENT_PROCESSOR_API="https://api.stripe.com/v1"